body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.map {
  height: 100vh;
}

.message-form {
  position: absolute !important;
  top: 10px;
  right: 10px;
  z-index: 99999;
}
